body {
  height: 100vh;
  width: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#result-section {
  display: flex;
  flex-flow: row wrap;

  justify-content: center;
  align-items: center;
}

#result-section h2 {
  margin: 5px;
}
